<div class="graphic col-xs-12">
		<p class="title">Disciples of </p>
	<div class="static">
		<br />
		<p class="fade-in to-view">GAME ON!<p2>
	</div>
		<p class="title"><span class="font-light">Light</span> + <span class="font-dark">Dark</span></p>
</div>
