<div id="board" class="col-xs-10 col-xs-offset-1">

  <table>
    <% ('a'..'h').to_enum.with_index.reverse_each do |letter, index| %>
      <tr>
        <th>
          <%= letter %>
        </th>
        <% (0..7).each do |col| %>
          <td>
              <% @game_pieces.each do |game_piece| %>
                <% if game_piece.x == col && game_piece.y == index %>
                  <% if @game.player_white_id == game_piece.user_id.to_i %>
                    <span class="icon white">
                  <% else %>
                    <span class="icon black">
                  <% end %>
                    <%= link_to game_piece.icon, select_path(:game_piece_id => game_piece, :x => game_piece.x, :y => game_piece.y) %>
                  </span>
                <% end %>
              <% end %>
            <!--% row %-->
            <% col %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <% (0..8).each do |num| %>
          <th class="text-center foot">
            <%= num if num != 0 %>
          </th>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>
